### Imports and data extraction

In [136]:
import numpy as np
import pandas as pd

URL = "https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8"
STYLE = "text-align: right"
tmp = pd.read_html(URL, attrs={"style": STYLE})
df = tmp[3:4][0]
df.index += 1
# df['1950'] = df['1950'].astype(float)
# df['1950'] = pd.to_numeric(df['1950'], errors='coerce')
print(df)

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
1                Крим  230.0  206.0  160.0   130    73   126    —    —
2           Вінницька  224.0  192.0  142.0   124    84   112  109   76
3           Волинська  247.0  250.0  179.0   153   112   148  141  101
4    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
5            Донецька  271.0  214.0  140.0   109    61    98   82    —
6         Житомирська  261.0  223.0  159.0   129    89   122  120   79
7        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
8          Запорізька  219.0  197.0  150.0   124    71   106  106   68
9   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
10           Київська  204.0  189.0  156.0   123    73   122  121   80
11     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
12          Луганська  262.0  235.0  144.0   116    62    96   51    —
13          Львівська  234.0  240.0  171.0   140    91   119  119   87
14       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
15            Одеська  241.0  192.0  148.0   126    80   127  123   88
16         Полтавська  186.0  163.0  131.0   118    70    99  100   65
17         Рівненська  269.0  267.0  193.0   158   118   159  148  107
18            Сумська  216.0  184.0  132.0   115    70    97   92   60
19      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
20         Харківська  197.0  173.0  140.0   114    68    99  101   68
21         Херсонська  208.0  214.0  166.0   143    85   117  115   81
22        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
23          Черкаська  205.0  179.0  144.0   123    75   100   98   64
24        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
25       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
26               Київ    NaN  174.0  159.0   120    73   120  121  110
27        Севастополь    NaN    NaN    NaN   125    70   120    —    —
28            Україна  228.0  205.0  152.0   126    78   114  111   81

### Show first rows of the table using the head method

In [96]:
df.head()

             Регіон  1950  1960  1970  1990  2000  2012  2014  2019
1              Крим  23,0  20,6  16,0  13,0   7,3  12,6     —     —
2         Вінницька  22,4  19,2  14,2  12,4   8,4  11,2  10,9   7,6
3         Волинська  24,7  25,0  17,9  15,3  11,2  14,8  14,1  10,1
4  Дніпропетровська  20,4  20,4  15,1  12,3   7,1  11,2  11,1   7,1
5          Донецька  27,1  21,4  14,0  10,9   6,1   9,8   8,2     —

### Define the number of rows and columns in the dataframe (shape attribute)

In [86]:
df.shape

(28, 9)

### In the table, replace the value "—" with the value NaN

In [97]:
df = df.replace("—", np.nan)
df.tail(4)

          Регіон  1950  1960  1970  1990 2000  2012  2014  2019
25  Чернігівська  22,0  18,3  12,7  10,8  6,9   9,4   9,0   6,1
26          Київ   NaN  17,4  15,9  12,0  7,3  12,0  12,1  11,0
27   Севастополь   NaN   NaN   NaN  12,5  7,0  12,0   NaN   NaN
28       Україна  22,8  20,5  15,2  12,6  7,8  11,4  11,1   8,1

### Define the types of all columns using dataframe.dtypes

In [129]:
df['1950'] = df['1950'].astype(float)
df.dtypes

ValueError: could not convert string to float: '23,0'